{extend name="layout"} {block name="content"}
<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-dashboard"></i> 添加记录
        </h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
        </li>
        <li class="breadcrumb-item">
            <a href="#">个人记录</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <form role="form" method="POST">
            <div class="form-group has-feedback">
                <label for="area">所属区域</label>
                <select class="form-control" name="project_subcompany" id="area">
                    <option selected disabled>所属区域</option>
                    {volist name='_com' id="com"}
                    <option value="{$com.com_name}" {if condition="$data.project_subcompany==$com.com_name" } selected
                        {/if}>{$com.com_name}</option>
                    {/volist}
                </select>
            </div>
            <div class="form-group has-feedback">
                <label for="depart">申请部门</label>
                <select class="form-control" id="depart" name="apply_depart">
                    <option value="{$data.apply_depart}" selected>{$data.apply_depart}</option>
                </select>
                <span class="help-block">选择所属区域后，稍等片刻选择申请部门.</span>
            </div>
            <div class="form-group has-feedback">
                <label for="apply_person">申请人</label>
                <input type="text" class="form-control" id="apply_person" value="{$data.apply_person}"
                    name="apply_person" placeholder="请输入申请人">
                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                <span id="apply_person" class="sr-only">(success)</span>
                <span class="help-block">表单申请人姓名</span>
            </div>
            <div class="form-group">
                <label for="customer_manager">客户经理</label>
                <input type="text" class="form-control" id="customer_manager" value="{$data.customer_manager}"
                    name="customer_manager" placeholder="请输入客户经理">
                <span class="help-block">客户方经理姓名</span>
            </div>
            <div class="form-group">
                <label for="project_manager">项目经理</label>
                <input type="text" class="form-control" id="project_manager" value="{$data.project_manager}"
                    name="project_manager" placeholder="请输入项目经理">
                <span class="help-block">项目经理姓名</span>
            </div>
            <div class="form-group has-feedback">
                <label for="project_name">项目名称</label>
                <input type="text" class="form-control" id="project_name" value="{$data.project_name}"
                    name="project_name" placeholder="请输入项目名称">
                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                <span id="project_name" class="sr-only">(success)</span>
                <span class="text-danger">请填写项目标准名称 格式：单位+项目名称 如：新疆日报社石榴云平台项目</span>
            </div>
            <div class="form-group">
                <label for="support_type">支持内容</label>
                <select class="form-control" name="support_type" id="support_type">
                    <option value="性能测试" {if condition="$data.support_type=='性能测试'" } selected{/if}>性能测试</option>
                    <option value="安全测试" {if condition="$data.support_type=='安全测试'" } selected{/if}>安全测试</option>
                    <option value="功能测试" {if condition="$data.support_type=='功能测试'" } selected{/if}>功能测试</option>

                    <option value="其他" {if
                        condition="$data.support_type neq '性能测试' AND $data.support_type neq '功能测试' AND $data.support_type neq '安全测试' "
                        } selected {/if}>其他</option>
                </select>
            </div>

            <div class="form-group" id="other_support">
                <label for="other">其他支持</label>
                <input type="text" name="other" {if
                    condition="$data.support_type neq '性能测试' AND $data.support_type neq '功能测试' AND $data.support_type neq '安全测试' "
                    } value='{$data.support_type}' {/if} id="other" class="form-control">
                <span class="help-block">其他类型支持时，填写此内容.</span>
            </div>

            <div class="form-group has-feedback">
                <label for="support_person">支持人</label>
                <input type="text" class="form-control" id="support_person" value="{$data.support_person}"
                    name="support_person" placeholder="请输入支持人">
                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                <span id="support_person" class="sr-only">(success)</span>
                <span class="help-block">支持人姓名.</span>
            </div>
            <div class="form-group">
                <label for="position">职位</label>
                {$data.position}
                <select class="form-control" name="position">
                    <option value="助理测试工程师" {in name="$data.position" value='助理工程师,助理测试工程师' } selected {/in}>助理测试工程师
                    </option>
                    <option value="测试工程师" {if condition="$data.position=='测试工程师'" } selected {/if}>测试工程师</option>
                    <option value="高级测试工程师" {in name="$data.position" value='高级工程师,高级测试工程师' } selected {/in}>高级测试工程师
                    </option>
                    <option value="部门经理" {in name="$data.position" value='部门经理,经理' } selected {/in}>部门经理</option>
                    <option value="其他" {notin name="$data.position" value='助理测试工程师,测试工程师,助理工程师,高级工程师,高级测试工程师,经理,部门经理' }
                        selected {/notin}>其他</option>
                </select>
                <span class="help-block">支持人职位</span>
            </div>
            <div class="form-group has-feedback">
                <label for="date_timepicker_start">实际开始时间</label>
                <input id="date_timepicker_start" autocomplete="off" name="start_time" class="form-control"
                    value="{$data.start_time}">
                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                <span id="date_timepicker_start" class="sr-only">(success)</span>
                <span class="help-block">支持的实际开始时间</span>
            </div>
            <div class="form-group" id="time_end_form_group">
                <label for="date_timepicker_end">实际结束时间</label>
                <input id="date_timepicker_end" autocomplete="off" name="end_time" class="form-control"
                    value="{$data.end_time}">
                 <span class="help-block">支持的实际结束时间 <span id="time_tip">&nbsp;</span></span>
            </div>
            <div class="form-group has-feedback">
                <label for="work_time">总工作量(单位:小时)</label>
                <input type="text" class="form-control" name="work_time" value="{$data.work_time}" id="work_time"
                    placeholder="请输入工作量">
                <span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
                <span id="work_time" class="sr-only">(success)</span>
                <span class="help-block">支持的总工作量，包括加班工作量，一共支持的时间，格式如:10 或 3*8</span>
            </div>
            <div class="form-group">
                <label for="name">其中加班量(单位:小时)</label>
                <input type="text" class="form-control" name="overtime" value="{$data.overtime}" placeholder="请输入加班量">
                <span class="help-block">支持的加班工作量</span>
            </div>

            <div class="form-group">
                <label for="status">当前状态</label>
                <select class="form-control" name="status">
                    <option value="进行中" {if condition="$data.status=='进行中'" } selected {/if}>进行中</option>
                    <option value="已完成" {if condition="$data.status=='完成' or $data.status=='已完成'" } selected {/if}>已完成
                    </option>
                    <option value="测试中止" {if condition="$data.status=='测试中止'" } selected {/if}>测试中止</option>
                </select>
            </div>

            <div class="form-group">
                <label for="out_work_way">支持方式</label>
                <select class="form-control" name="out_work_way">
                    <option value="市内外出支持" {if condition="$data.out_work_way=='市内外出支持'" } selected {/if}>市内外出支持</option>
                    <option value="市外出差支持" {if condition="$data.out_work_way=='市外出差支持'" } selected {/if}>市外出差支持</option>
                    <option value="远程支持" {if condition="$data.out_work_way=='远程支持'" } selected {/if}>远程支持</option>
                </select>
            </div>
            <div class="form-group">
                <label for="support_result">支持成果描述</label>
                <textarea class="form-control" id="support_result" name="support_result"
                    placeholder="请输入支持成果描述">{$data.support_result}</textarea>
                <span class="help-block">简要描述支持过程及结果</span>
            </div>
            <div class="form-group">
                <label for="report_document">相关文档</label>
                <textarea class="form-control" id="report_document" name="report_document"
                    placeholder="请输入相关文档">{$data.report_document}</textarea>
                <span class="help-block">项目支持输出文档</span>
            </div>
            <div class="form-group">
                <label for="doc_folder">文档存放目录</label>
                <input type="text" class="form-control" id="doc_folder" value="{$data.doc_folder}" name="doc_folder"
                    placeholder="请输入文档存放目录">
                <span class="text-info">文档统一放在192.168.152.90上，此处填写文档保存地址，格式：\\192.168.152.90\项目资料（新）\2018\2018-02-11
                    贵州海云集约化平台性能测试项目</span>
            </div>
            <div class="form-group">
                <label for="remarks">备注</label>
                <textarea name="remarks" class="form-control" id="remarks" rows="5">{$data.remarks}</textarea>
                <span class="help-block">其他说明</span>
            </div>
            <input type="hidden" name="id" value="{$data.id}">
            <button type="submit" class="btn btn-primary">提交</button>
            <a href="javascript:history.back()" class="btn btn-danger">返回</a>
        </form>
    </div>
</div>

<script>
    require(['hdjs'], function (hdjs) {

        function load_depart() {
            $('#depart').html('');
            com = $('#area').val();
            department = "{$data.apply_depart}";
            if (com != null) {
                $.post('{:url("store")}', { com: com }, function (data) {
                    data = eval('(' + data + ')');
                    $.each(data, function (n, value) {
                        if (value.com_name == department) {
                            $('<option value="' + value.com_name + '" selected>' + value.com_name + '</option>').appendTo("#depart");
                        }
                        else {
                            $('<option value=' + value.com_name + '>' + value.com_name + '</option>').appendTo("#depart");
                        }
                    });

                });
            }
        }

        load_depart();


        hdjs.datetimepicker('#date_timepicker_start', {
            format: 'Y-m-d',
            onShow: function (ct) {
                this.setOptions({
                    maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                })
            },
            timepicker: false
        });
        hdjs.datetimepicker('#date_timepicker_end', {
            format: 'Y-m-d',
            onShow: function (ct) {
                this.setOptions({
                    minDate: jQuery('#date_timepicker_start').val() ? jQuery('#date_timepicker_start').val() : false
                })
            },
            timepicker: false
        });

        function checkDate(start, end) {
            var startDate = new Date(start.replace(/-/g, "/"));
            var endDate = new Date(end.replace(/-/g, "/"));

            if (startDate > endDate) {
                $('#time_end_form_group').addClass('has-error');
                $('#time_tip').text('不能小于开始时间');
            }
            else {
                // 不能跨季度提交，开始时间如果小于3-31，结束时间不能大于3-31
                if (startDate < new Date(startDate.getFullYear() + "/4/1") && endDate > new Date(startDate.getFullYear() + "/3/31")) {
                    $('#time_end_form_group').addClass('has-error');
                    $('#time_tip').text('不能跨季度提交，请重新选择结束时间');
                }
                //开始时间如果小于6-30，结束时间不能大于6-30
                else if (startDate < new Date(startDate.getFullYear() + "/7/1") && endDate > new Date(startDate.getFullYear() + "/6/30")) {
                    $('#time_end_form_group').addClass('has-error');    
                    $('#time_tip').text('不能跨季度提交，请重新选择结束时间');
                }
                //开始时间如果小于9-30，结束时间不能大于9-30
                else if (startDate < new Date(startDate.getFullYear() + "/10/1") && endDate > new Date(startDate.getFullYear() + "/9/30")) {
                    $('#time_end_form_group').addClass('has-error');
                    $('#time_tip').text('不能跨季度提交，请重新选择结束时间');
                }
                //开始时间如果小于12-31，结束时间不能大于12-31
                else if (startDate < new Date((startDate.getFullYear() + 1) + "/1/1") && endDate > new Date(startDate.getFullYear() + "/12/31")) {
                    $('#time_end_form_group').addClass('has-error');
                    $('#time_tip').text('不能跨年提交，请重新选择结束时间');
                }
                else {
                    $('#time_end_form_group').removeClass('has-error');
                    $('#time_tip').text('');
                }
            }
        }

        $('#date_timepicker_end').blur(function () {
            start = $('#date_timepicker_start').val();
            end = $('#date_timepicker_end').val();
            if (start != '' && end != '') {
                checkDate(start, end);
            }
        });
        $('#date_timepicker_start').blur(function () {
            start = $('#date_timepicker_start').val();
            end = $('#date_timepicker_end').val();
            if (start != '' && end != '') {
                checkDate(start, end);
            }
        });
        
        $('#area').change(function () {
            $('#depart').html('');
            com = $('#area').val();
            $.post('{:url("store")}', { com: com }, function (data) {
                data = eval('(' + data + ')');
                $.each(data, function (n, value) {
                    $('<option value=' + value.com_name + '>' + value.com_name + '</option>').appendTo("#depart");
                });

            });
        });


        $('#support_type').change(function () {
            if ($("#support_type option:selected").val() == '其他') {
                $('#other_support').show();
            } else {
                $('#other_support').hide();
            }
        });
    })


</script>


{if condition="$data.support_type neq '性能测试' AND $data.support_type neq '功能测试' AND $data.support_type neq '安全测试' " }
<script>
    require(['hdjs'], function (hdjs) {
        $('#other_support').show();
    });
</script>
{else /}
<script>
    require(['hdjs'], function (hdjs) {
        $('#other_support').hide();
    });
</script>
{/if}

{/block}