{extend name="layout"} {block name="content"}
<div class="app-title">
    <div>
        <h1>
            <i class="fa fa-dashboard"></i> 导入记录 </h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home fa-lg"></i>
        </li>
        <li class="breadcrumb-item">
            <a href="#">个人记录</a>
        </li>
    </ul>
</div>
<link rel="stylesheet" href="__STATIC__/css/index.css">
<div class="row">
    <form method="post" class="form-inline" enctype="multipart/form-data">

        <div class="form-group">
            <label for="file">文件选择：</label>
            <input type="file" class="form-control" name="excel" id="file">
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="上传">
        </div>
        <div class="col-md-2">
            <a href="{:url('index/record/downTemplete')}" class="btn btn-primary">下载模板</a>
        </div>

    </form>
</div>
<hr>
<form method="post" action="{:url('excelToDB')}">
    <div class="all-column">

        <table class="table table-hover table-striped table-bordered">
            {volist name="data" id="dd"}
            <tr>
                <td>
                    <input type="checkbox" name="data[]" value="{$dd.A}">
                </td>
                <td>{$dd.A}</td>
                <td>{$dd.B}</td>
                <td>{$dd.C}</td>
                <td>{$dd.D}</td>
                <td>{$dd.E}</td>
                <td>{$dd.F}</td>
                <td>{$dd.G}</td>
                <td>{$dd.H}</td>
                <td>{$dd.I}</td>
                <td>{$dd.J}</td>
                <td>{$dd.K}</td>
                <td>{$dd.L}</td>
                <td>{$dd.M}</td>
                <td>{$dd.N}</td>
                <td>{$dd.O}</td>
                <td>{$dd.P}</td>
                <td>{$dd.Q}</td>
                <td>{$dd.R}</td>
                <td>{$dd.S}</td>
                <td>{$dd.T}</td>
                <td>{$dd.U}</td>
            </tr>
            {/volist}
        </table>
    </div>
    <hr>
    <input type="submit" id="submitDB" value="提交到数据库" class="btn btn-primary">
</form>
<script>
    require(['hdjs'], function (hdjs) {

        //参考： attr和prop的区别
        function is_select_all() {
            is_all = true;
            $("tr:first").siblings().each(function () {
                if ($(this).find('input').prop('checked') == false) {
                    is_all = false;
                    return false;// 终止循环
                }
            })

            return is_all;
        }

        $("tr:first>td:first>input").click(function () {
            console.log( $(this).prop('checked'));
            console.log( is_select_all());
            console.log('------------------------');
            if (is_select_all()==true && $(this).prop('checked')==false) {
                $(this).find('input').removeAttr('checked');
                $("tr:first").siblings().each(function () {
                    $(this).find('td:first>input').removeAttr('checked');
                    $(this).find('input').prop('checked', false);
                })
            }

            if (is_select_all()==false && $(this).prop('checked')==true){
                $(this).find('input').attr('checked', 'checked');
                $("tr:first").siblings().each(function () {
                    $(this).find("input").attr('checked', 'checked');
                    $(this).find('input').prop('checked', true);
                })
            }
        })

        $("tr:first").siblings().each(function () {
            $(this).click(function () {

                if ($(this).find('td:first>input').attr('checked') == 'checked') {
                    $(this).find('td:first>input').removeAttr('checked');
                    $(this).find('td:first>input').prop('checked', false);
                } else {
                    $(this).find('td:first>input').attr('checked', 'checked');
                    $(this).find('td:first>input').prop('checked', true);
                }

                if (is_select_all()) {
                    $("tr:first>td:first").find("input").attr('checked', 'checked');
                    $("tr:first>td:first").find("input").prop('checked', true);
                } else {
                    $("tr:first>td:first").find("input").removeAttr('checked');
                    $("tr:first>td:first").find("input").prop('checked', false);
                }
            })
        });

        $('#submitDB').click(function(e){

            is_current=true;
            current_person="{:session('username')}";

            surpport_person=new Array();
            $('tr:first').siblings().each(function(){
                if($(this).find('input').attr('checked')=='checked'){
                    surpport_person.push($(this).find('td').eq(9).html().trim());
                }
            })

            for(var index in surpport_person){
                if(surpport_person[index]!==current_person){
                    is_current=false;
                    break;
                }
            }

            if(!is_current){
                if(!confirm('存在不是您支持的项目记录，导入后您无法查看这些记录，您是否要导入？')){
                    e.preventDefault();
                }
            }
        });
      
    });
</script> {/block}